# === Required secrets ===
STEAM_API_KEY=your_steam_api_key
RELIC_AUTH_STEAM_USER=your_steam_username
RELIC_AUTH_STEAM_PASS=your_steam_password

# === Meilisearch ===
MEILISEARCH_HOST=http://localhost:7700
MEILISEARCH_API_KEY=your_meilisearch_key

# === Optional config ===
APM_API_URL=http://localhost:5001
LOG_LEVEL=debug
NODE_ENV=development
FIRESTORE_EMULATOR_HOST=localhost:8081
# SIMULATE_LATENCY_MS=1500
